@import '~styles/fonts';
@import '~styles/colors';

.container {
  @include font-title-light-large;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: $color1;
  background-color: $color3;
  border-radius: 50%;
}
